
@model List<Superheroes.Models.Superhero>

@{    
    ViewData["Title"] = "Superheroes";
}

<h1>Superheroes</h1>

@foreach(var hero in Model)
{
<div>
    @Html.ActionLink(hero.Name, "Details", new { id = hero.Id })
</div>
}
