
@model List<Superheroes.Models.Superhero>

@{    
    ViewData["Title"] = "Superheroes";
}

<h1>Superheroes</h1>

@foreach(var hero in Model)
{
    <div>
        <h4><a href="Details/@hero.Id">@hero.Name</a></h4>  
    </div>
}
